<div class="rates-container" *ngIf="filteredRates">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../assets/video/Three dollars.mp4" type="video/mp4" />
      Your browser is not supported
    </video>
  </div>
  <table class="rates-table">
    <thead>
      <tr>
        <th>Valuta</th>
        <th>Kurs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of filteredRates | keyvalue">
        <td>{{ rate.key }}</td>
        <td>{{ rate.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
