<mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
<div class="container">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../assets/video/Three dollars.mp4" type="video/mp4" />
      Your browser is not supported
    </video>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="amount" type="number" min="0" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>From:</mat-label>
    <mat-select [(ngModel)]="selectedFromCurrency">
      <mat-option *ngFor="let rate of allRates | keyvalue" [value]="rate.key">
        {{ rate.key }}
        <span
          class="currency-flag currency-flag-{{ rate.key | lowercase }}"
        ></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon class="switch">compare_arrows</mat-icon>
  </button>
  <mat-form-field appearance="outline">
    <mat-label>To:</mat-label>
    <mat-select [(ngModel)]="selectedToCurrency">
      <mat-option *ngFor="let rate of allRates | keyvalue" [value]="rate.key">
        {{ rate.key }}
        <span
          class="currency-flag currency-flag-{{ rate.key | lowercase }}"
        ></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-container">
    <button
      class="btn btn-convert"
      (click)="convertCurrencies()"
      mat-flat-button
      color="primary"
    >
      Convert
    </button>
  </div>
  <h2>Converted amount: {{ convertedAmount | number: "1.2-4" }}</h2>
</div>
