<div class="container">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../assets/video/Three dollars.mp4" type="video/mp4" />
      Your browser is not supported
    </video>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="amount" type="number" min="0" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select currency:</mat-label>
    <mat-select (selectionChange)="selectFirstCurrency($event)">
      <mat-option *ngFor="let rate of allRates | keyvalue" [value]="rate.key">
        {{ rate.key }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <p>convert to</p>
  <mat-form-field appearance="fill">
    <mat-label>Select currency:</mat-label>
    <mat-select #currencies (selectionChange)="selectSecondCurrency($event)">
      <mat-option *ngFor="let rate of allRates | keyvalue" [value]="rate.key">
        {{ rate.key }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div class="btn-container">
    <button
      class="btn btn-convert"
      (click)="convertCurrencies()"
      mat-flat-button
      color="primary"
    >
      Convert
    </button>
    <button
      class="btn btn-reset"
      (click)="clearAllValues()"
      mat-flat-button
      color="primary"
    >
      Reset values
    </button>
  </div>
</div>
<h2>Converted amount: {{ convertedAmount | number: "1.2-4" }}</h2>
<!-- <button (click)="onBack()" mat-flat-button color="primary">
  &#8592; Go back to main page
</button> -->
