<div class="container">
  <div class="container-btn">
    <button routerLink="/calculator" class="btn btn-main">
      Convert your currencies
    </button>
    <button class="btn btn-aside" (click)="loadData()">
      Show common currencies
    </button>
    <button class="btn btn-aside" (click)="randomData()">
      Show random currencies
    </button>
    <div>
      <mat-form-field class="currency-select" appearance="outline">
        <mat-label>Select a currency:</mat-label>
        <mat-select #currencies (selectionChange)="selectCurrency($event)">
          <mat-option
            *ngFor="let rate of allRates | keyvalue"
            [value]="rate.key"
          >
            {{ rate.key }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- 
        <h2>Select a currency:</h2>
        <select
        class="dropdown"
        #currencies
        (change)="selectCurrency(currencies.value)"
      >
        <option *ngFor="let rate of allRates | keyvalue">
          {{ rate.key }}
        </option>
      </select> -->
    </div>
  </div>
  <h2>
    Exchange rate list for {{ exchangeListDate | date: "dd.MM.yyyy" }} (in RSD)
  </h2>
  <div class="rates-container" *ngIf="filteredRates">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="../assets/video/Three dollars.mp4" type="video/mp4" />
        Your browser is not supported
      </video>
    </div>
    <table class="rates-table">
      <thead>
        <tr>
          <th>Currency name</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of filteredRates | keyvalue">
          <td>{{ rate.key }}</td>
          <td>{{ 1 / rate.value | number: "1.2-4" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
